body{
    background-color: rgb(29, 28, 28);
}
.row{
    display: flex;
    justify-content: space-between;
}
.span{
font-family: monospace;

    padding: 50px 150px 0px 150px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px ;
    
}
.box{
 margin-top: 4%; 
    margin-left: 17%;
    margin-right: 10%;
    height: 385px;
    width: 285px;
    background-color:#6C63FF;
    border-radius: 10px;
    
  }
  .box:hover{
     /* position: absolute; */
     transform: scale(1.07);
     box-shadow: 0px 0px 15px 15px rgba(195, 201,211,0.35);
  }
.P{
    padding: 5% 5% 5% 5%;
    font-size: 20px;
    text-align: center;
    color:rgb(242, 255, 0);
}
img{
    height: 200px;
    width: 70%;
}
    

@media all and (max-width: 1000px) {
    body {
      margin-top: 0;
      padding:8%;
    }
    .row
    {
        margin-top: 0%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
  }
  .car{
      height:40%;
      margin-top: 30px;
      border-radius: 100%;
      margin-top: 30px;
      margin-left: 45px;
       
  }
  .car:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 10px 10px rgba(116, 220, 13, 0.35);
}
.span:hover{
    transform: scale(1.07);
   text-shadow: 8px 8px 5px rgba(224, 202,202);
}
.main{
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 50px ;
}
.main:hover{
    transform: scale(1.07);
    text-shadow: 8px 8px 5px rgba(224, 202,202);

}
